#body1{
    background-color:#fbe9e7;
    padding:8px;
  }
  #border{
    padding: 20px;
    border:12px solid white;
    border-radius: 25px;
    animation: bordercolor 9s infinite;
  }
@keyframes bordercolor {
  0%   { border-color: #ffc107; }
  30%  { border-color: #ff6f00; }
  60%  { border-color: #ffb300; }
  100% { border-color: #ef6c00; }
}
  #delight{
    font-style: bold;
    font-size:small;
    color:#e65100;
    font-family: "Brush Script MT", cursive;
    text-shadow:2px 5px #bdbdbd;
    margin:2px;
    border-radius:20px;
  }
  #logo{
    text-align:center;
  }
  #login{
    border:3px solid black;
    border-radius:20px;
    margin:10px;
    background-color:#fafafa;
    padding:28px;
  }
  #login h3{
    text-align: center;
  }
  #login label{
    font-family:  "Times New Roman", Times, serif;
    font-size:15px;
  }
  #login input[type="number"]
  ,#login input[type="password"]{
    width:90%;
    height:15px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 14px;
    padding: 8px;
  }
  #login input[type="submit"]{
    width: 50%;
    height: 29px;
    margin: 5px;
    cursor: pointer;
    border-radius: 9px;
    border: none;
    font-weight:14px;
   color: white;
   font-weight: bold;
   background: linear-gradient(45deg, #ff7043,#ffb74d)
 }
 
 #body2{
   color:white;
 }
#text{
  color: #ef6c00;
  text-align: center;
}




#rough{
  background-color: #fbe9e7;
}
#search input[type="text"]{
  height: 25px;
  width: 85%;
  border:2px solid #ef6c00;
  border-radius: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 20px;
}
#item1{
    text-align: center;
    border: 2px solid grey;
    background-color: grey;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
}
#item2{
   text-align: center;
    border: 2px solid grey;
    background-color: grey;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
}
  